{{ if .Site.Params.disqusShortname }}
<div class="comments">
    <vue-disqus shortname="{{.Site.Params.disqusShortname}}"></vue-disqus>
</div>
<noscript><noscript>{{ i18n "comments_activate_js" }}</noscript></noscript>
<a href="https://disqus.com/" class="dsq-brlink">Comments powered by <span class="logo-disqus">Disqus</span></a>
{{ end }}

{{ if .Site.Params.valine.enableValine }}
<!-- <div id="valineVisitor"> -->
    <!-- id 将作为查询条件 -->
    <!-- {{ if and .Site.Params.valine.visitor (ne .Site.BaseURL "http://localhost:1313/") }} -->
        <!-- <span id="{{ .Permalink | relURL }}" class="leancloud_visitors" data-flag-title="{{ .Title }}">
            <span class="leancloud-visitors-count"> {{ T "valinePV" }} </span>
            <p></p>
        </span>         -->
    <!-- {{ end }} -->
<!-- </div> -->
<div id="vcomments"></div>
<!-- Script moved to journal.html -->
{{ end }}
